<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <a class="navbar-brand" routerLink="/set" routerLinkActive="active">Comanche Hospital</a>

    <ul class="navbar-nav mr-auto">


        <li class="nav-item">
            <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendar</a>
        </li>
    </ul>


    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/editor/', 1]" routerLinkActive="active">Lekar 1</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/editor/', 2]" routerLink="login" routerLinkActive="active">Lekar 2</a>
        </li>
    </ul>
</nav>