<div class="row">
    <div class="col-12">
        <h1>{{mW}}</h1>
    </div>

    <div class="col-12" *ngIf="isDoctorSelected">
        <hsp-examination-table  [items]="examinationPage.items" [showActions]="showActions" (onAction)="action($event)">
        </hsp-examination-table>
        <!--  (emiter)="onDoctor($event)"-->
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ngb-pagination *ngIf="isDoctorSelected" [page]="examinationPage.currentPage" (pageChange)="setPage($event)"
            [pageSize]="examinationPage.itemsPerPage" [collectionSize]="examinationPage.totalItems"></ngb-pagination>
    </div>
</div>

