<p>{{userForm?.value | json}}</p>
<p>{{userForm?.status | json}}</p>



<div class="row">

  <div class="col-2"></div>

  <div class="col-8">
    <!--Pokusaj da se primene ng-noty notifikacije
    <button (click)="openNgNoty()" aria-label="Show an example ng-noty">Show ng-noty</button>
    <button class="button button--primary" type='button' (click)="showNotification('warning', 'Email is required' )">Warning me!</button>-->
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
      
      
      <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Name</label>
        <div class="col-10">
          
          <input class="form-control" type="text" id="name" placeholder="Name" formControlName="Name" (blur)="nameValidate('warning', 'First Name is Required. Use 3-30 letters for name.')">
          
          <!--<small class="text-danger" *ngIf="userForm.controls.Name.touched && userForm.controls.Name.errors?.required">
            Name is required</small>-->

        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-2 col-form-label">Email</label>
        
        <div class="col-10">
          
          <input class="form-control" type="text" id="email" placeholder="Email" formControlName="Email" (blur)="emailValidate('warning', 'Email is required. Use email@email.com pattern.')">
          <!--<small class="text-danger"
            *ngIf="userForm.controls.Email.touched && userForm.controls.Email.errors?.required" >
            Email is required</small>-->
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-2 col-form-label">Password</label>
        <div class="col-10">
          <show-hide-password size="medium" btnStyle="primary" [btnOutline]="false">
          
          
          <input class="form-control" type="password" id="password" placeholder="Password" formControlName="Password" (blur)="passwordValidate('warning', 'Pssword is required. Use minimum 8 characters, required uppercase and minimum 1 non alphanumeric character.')">
        </show-hide-password>
          <!--<small class="text-danger"
            *ngIf="userForm.controls.Password.touched && userForm.controls.Password.errors?.required">
            Password is required</small>-->
        </div>
      </div>

      <div class="form-group row">
        <label for="photo" class="col-2 col-form-label">Photo</label>
        <div class="col-10">
         
          <input type="file" formControlName="Photo"  accept=".pdf,.doc,.docx,.dwg,.jpeg,.jpg" (change)="handleFileInput($event)" > 
          <!--<img [src]="imageUrl"  style="width:250px;height:200px">-->
          <!--<input class="form-control" type="text" id="photo" placeholder="PhotoLink" formControlName="Photo" (focus)="photoInfo('info', 'Input photo server repository path: content/Photos/[userName].jpg')">-->
          <!--<small class="text-danger"
            *ngIf="userForm.controls.Photo.touched && userForm.controls.Photo.errors?.required"> 
            Photo is required</small>-->
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Skills of user:</label>
        <div class="col-10">
          <select  name="selectedSkills[]" formControlName="Skills" multiple [compareWith]="compareFn" >

            <option *ngFor="let skill of skills;" [ngValue]="skill" >{{skill.SkillName}}</option>

          </select>
        </div>
      </div>



      <div class="form-group row float-right">
        <div class="col-12">
          <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Submit</button>
        </div>
      </div>
    </form>

  </div>

  <div class="col-2"></div>

</div>