<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col-8"><h5>Examinations by doctor </h5> </th>
            <th scope="col-4" *ngIf=true>
                <button type="button" class="btn btn-primary mr-2" *ngIf=false>Add Examination</button>
            </th>
        </tr>
        
        <tr>
            <th scope="col">Doctor</th>
            <th scope="col">Patient</th>
            <th scope="col">Examination Date
                <button class="btn btn-link" (click)="onSort('examinationDate')"><span class="fa fa-sort"></span></button>
            </th>
            <th scope="col" *ngIf="ShowActions">Actions</th>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.doctor.firstName + " " + item.doctor.lastName}}</td>
            <td>{{item.patient.firstName + " " + item.patient.lastName}}</td>
            <td>{{item.examinationDate | date : "dd.MM.yyyy HH:mm"}}</td>
            <td *ngIf="ShowActions">
                <button type="button" class="btn btn-primary mr-2" (click)="edit(item)">Edit</button>
                <button type="button" class="btn btn-danger mr-2" (click)="delete(item)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>